[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/starbug
[access "refs/for/refs/*"]
	read = group user/starbug
	push = group user/starbug
	label-Code-Review = -2..+2 group user/starbug
	label-Verified = -1..+1 group user/starbug
	rebase = group user/starbug
	removeReviewer = group user/starbug
	submit = group user/starbug
[access "refs/heads/*"]
	read = group user/starbug
	create = group user/starbug
	push = +force group user/starbug
	pushMerge = group user/starbug
[access "refs/tags/*"]
	push = +force group user/starbug
	pushTag = group user/starbug
	pushSignedTag = group user/starbug
